<div>

        <label for="name-box">naam:</label>
        <input #searchBox id="name-box" [(ngModel)]="user.name"/>
 
        <label for="amount-box">inleg: </label>
        <input id="amount-box" [(ngModel)]="user.value" currencyMask [options]="{ prefix: '€ ', thousands: '.', decimal: ',', align: 'left', allowNegative: false}" />

        <label for="item-box">item:</label>
        <input #searchBox id="item-box" [(ngModel)]="user.item"/>

        <button (click)="addUser()" type="button" class="btn btn-primary"> 
            Toevoegen
        </button
        ><button (click)="calculate()" type="button" class="btn btn-primary">
            Verreken
        </button>
        
</div>
